body {
    background: #ffffe6;
    font-family: "Courier";
}

header {
    font-family: "Luminari";
    text-align: center;
}

div#wizard-form {
    background:#dfbf9f;
    padding: 10px;
    text-align: center;
}

div#wizard-form h2{
    font-family: "Luminari";
}

div#wizards {
    background: #4d3319;
}