body {
    background: #ffffe6;
    font-family: "Courier";
    text-align: center;
}

header {
    font-family: "Luminari";
}

div#wizard-form {
    background:#dfbf9f;
    padding: 10px;
}

div#wizard-form h2{
    font-family: "Luminari";
}

div#wizard-profile{
    border: solid;
    border-color: black;
}