body {
    background: #ffffe6;
    font-family: "Courier";
    text-align: center;
}

header, h2{
    font-family: "Luminari";
}

div#wizard-form {
    background:#dfbf9f;
    padding: 10px;
}

div#wizard-profile{
    border: solid;
    border-color: black;
    margin: 20px;
    padding: 10px;
}

img.wizard-thumbnail {
    height: 150px;
    padding: 10px;
}